<?php

return array(
    'doctrine' => array(
        'odm' => array(
            'proxy_dir' => realpath(dirname(__FILE__).'/../cache/doctrine/proxy'),
            'hydrator_dir' => realpath(dirname(__FILE__).'/../cache/doctrine/hydrator'),
            'default_db' => 'rabbit',
        ),
    ),
);